#root > section.ant-layout {
  min-height: 100vh;
}

.menu-home {
  width: 200;
  height: 200;
  cursor: 'pointer';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  color: '#fff';
  background-color: '#001529';
}

@media screen and (max-width: 1190px){
  .ant-table-content {
    overflow: auto;
  }
}