#root > section.ant-layout {
  min-height: 100vh;
  
}

main.ant-layout-content {
  background-color: #F5F5F5;
}

.menu-home {
  height: 200;
  cursor: 'pointer';
  display: 'flex';
  justify-content: 'center';
  align-items: 'center';
  color: '#fff';
  background-color: '#001529';
  position: fixed;
}

@media screen and (max-width: 1190px){
  .ant-table-content {
    overflow: auto;
  }
}